<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ScrapeProducts">
    <listeners>
        <listener class-name="in.amazon.utils.SuiteListener"></listener>
    </listeners>
    <test name="ScrapeProducts">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="in.amazon.ScrapeProducts" />
        </classes>
    </test>
</suite>